<div class="wrapper">
  <%= render "header" %>
  <div class="search_top">
    
  </div>
  <div class="side_bar">
    <div class="side_bar_head">
      <div class="head_name">
      </div>
      <div class="chat_link">
      </div>
    </div>
    <div class="side_bar_body">
        <div class="chat_room">
        </div>
    </div>
  </div>
</div>