// Place all the styles related to the beach controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*------------------------------------------------------
サーチフォーム
------------------------------------------------------*/
.search_top {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;

  .search_form {
    margin-right: 10px;
    margin: 50px 0 50px;

    .search_input {
      width: 65%;
      height: 40px;
    }

    .search_btn {
      width: 10%;
      height: 40px;
      border-radius: 30px;
      background-color: rgb(134, 193, 217);
    }

    #search_result {
      width: 30%;
    }

    .child {
      margin: 5px;
      border: 1px solid #dedede;
      background-color: #f4f4f4;
      padding: 5px;
      font-size: 12px;
    }
  }
}

/*------------------------------------------------------
サイドバー
------------------------------------------------------*/

.side_bar {
  width: 300px;
  height: 500px;
  padding: 20px 0 20px;
  margin-left: 100px;
  box-sizing: border-box;

  .side_bar_head {
    background-color: #ececec;;
    height: 200px;
    padding: 0 20px;
    align-items: center;

    margin-bottom: 20px;
    p {
      font: 20px;
      padding: 8px 0 8px;
      display: block;
    }
    

    .activitys {
      display: flex;
      flex-flow: column;

      .activity {
        display: flex;

        .checkbox {
          display: block;
          margin-right: 10px;
        }
      }
    }
  }

  .side_bar_middle {
    background-color: #ececec;;
    height: 300px;
    padding: 0 20px;
    align-items: center;
    margin-bottom: 20px;

    p {
      font: 20px;
      padding: 8px 0 8px;
      display: block;
    }

    .facilitys {
      display: flex;
      flex-flow: column;

      .facility {
        display: flex;

        .checkbox {
          display: block;
          margin-right: 10px;
        }
      }
    }
  }
}

/*------------------------------------------------------
メイン
------------------------------------------------------*/

.main {
  display: flex;
}

.right_main {
  float: right;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0 40px;

  a {
    text-decoration: none;
  }

  #beach_box {
    padding-right: 30px;
    width: 260px;
    height: 400px;

    img {
      width: 260px;
      height: 200px;
      border-radius: 30px;
      padding-bottom: 10px;

      &:hover {
        opacity: 0.5;
      }
    }

    .beach_name {
      font-size: 20px;
      font-weight: bold;
      color: black;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media(max-width: 1000px) {
  .side_bar, .right_main {
    float: none;
    margin: 0;
    width: auto;
  }
}
